.header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    margin: 0px;
    padding: 10px ;
    padding-top: 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
}
.header-location{
    background: $color-dark-gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    i{
        margin-right: 5px;
    }
}
.header-explore{
    padding: 50px;
    background: $color-light-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__btn{
        color: white;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 200px;
        border-radius: 25px;
        background: $color-primary;
        background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
    }
}

.header-guide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 25px;
        width: 300px;

        margin-bottom: 10px;
        padding: 15px;

        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        &.light-purple{
            background-color: lighten($color: $color-primary, $amount: 35);
        }
        p{
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        i{
            color: gray;
            margin: 10px;
            &.purple{
                color: $color-primary;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        span{
            font-family: 'Roboto', sans-serif;
            font-size: 0.9em;

            color: white;
            background-color: $color-primary;

            display: flex;
            align-items: center;
            justify-content: center;

            height: 25px;
            width: 25px;
            border-radius: 50%;
            margin-left: -30px;
        }
    }
}

#restaurants{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-light-gray;
    .restaurant-box{
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        margin: 10px;
        background-color: white;
        border-radius: 15px;
        &__new{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;

            background-color: $color-tertiary;
            color: darken($color-tertiary, 50);

            margin-top: 8px;
            margin-left: 235px;

            height: 30px;
            width: 90px;
            border-radius: 3px;
            font-weight: 600;         
        }
        &-desc{
            display: flex;
            flex-direction: row;
            &__titles{
                display: flex;
                flex-direction: column;
                margin-left: 10px;
                margin-top: 5px;
                margin-bottom: 10px;
            }
        }
        .heart-btn{
            i{
                display: flex;
                justify-content: right;
                font-size: 2em;
                color: white;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
                &:hover{
                    color: $color-primary;
                }
            }
        }
        p{
            margin: 5px;
        }
        h4{
            margin: 5px;
        }
        img{
            margin-left: 0px;
            margin-top: 0px;
            margin-right: 0px;

            height: 170px;
            width: 335px;
            object-fit: cover;
            border-radius: 13px 13px 0px 0px;
        }
    }
}

footer{
    color: white;
    background-color: rgb(58, 58, 58);
    height: 250px;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    line-height: 30px;

    h4{
        font-family: 'Shrikhand', cursive;
    }
    a{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        height: 30px;
        &:visited{
            color: white;
        }
        i{
            margin-right: 10px;
            font-size: 0.8em;
        }
    }
}