.menu{
    @include flex-center__column;
    &-selector{
        @include flex-center__column;
        background-color: $color-dark-gray;
        width: 375px;
        border-radius: 30px 30px 0px 0px;
        margin-top: -30px;
        margin-left: 0px;
        margin-right: 0px;
        h2{
            font-family: 'Shrikhand', cursive;
        }

        .menu__submit{
            @include box-shadow;
            @include flex-center;
            padding: 15px;
            margin: 50px;
            width: 150px;
            border-radius: 25px;
            background: $color-primary;
            color: white;
            background: linear-gradient(0deg, $color-primary 0%, $color-secondary 100%);
            transition: transform 250ms;
                &:hover{
                    transform: scale(1.05);
                }
            }

        .menu-selector-header{
            @include flex-center;
            .heart-btn{
                i{
                    @include flex-center;
                    margin-left: 40px;
                    font-size: 2em;
                    color: white;
                    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
                    transition: transform 250ms;
                    &:hover{
                        color: $color-primary;
                        transform: scale(1.1);
                    }
                }
            }
        }
            
        &-box{
            @include box-shadow;
            animation: 1s ease-out 0s 1 box-flowdown;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 350px;
            height: 60px;
            border-radius: 15px;
            background-color: white;
            margin-bottom: 10px;
            overflow: hidden;
        
            &__validator{
                position: absolute;
                margin-left: 350px;
                font-size: 1.5em;
                color: white;
                @include flex-center;
                width: 60px;
                height: 60px;
                background-color: $color-tertiary;
                &:hover{
                    animation: 1s ease-in-out 0s 1 check-box;
                    i{
                        animation: 1s ease-in-out 0s 1 check-box__ico;
                    }
                }
            }
            
            &-text{
                padding-top: 10px;
                padding-left: 15px;
                text-overflow: ellipsis;
                &__title{
                    font-size: 1em;
                    margin: 0px;
                }
                p{
                    font-size: 0.8em;
                }
                &__price{
                    font-size: 1em;
                    font-weight: bold;
                    
                }
            }
        }
        &-entree{
            h4{
                @include menu-title;
            }
        }
        &-plat{
            h4{
                @include menu-title;
            }
        }
        &-desserts{
            h4{
                @include menu-title;
            }
        }
    }
    img{
        width:375px;
        height: 260px;
        object-fit: cover;
    }
}